.info-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 800px;
    height: fit-content;
    overflow: scroll;
    background-color: rgb(39, 35, 35);
    border-radius: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.info-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .info-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }